body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f8f6f2;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: #eae7e1;
}

.hero h1 {
  font-size: 48px;
}

.hero button {
  padding: 10px 20px;
  background: black;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 40px;
  gap: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: black;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.cart {
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.cart h2 {
  margin-bottom: 10px;
}